.welcome {
    position: relative;
    height: auto;
    width: 100%;
    color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.8rem;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-top: 5rem;
    overflow: hidden;
    align-content: center;
    background-color: var(h-text-color-white);
}

.welcome_title {
    margin: 1px;
}

.welcome_paragraph {
    width: 60%;
    margin: 25px;
    font-size: 1.1rem;
}

.wrapper_skilled {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;
}

.welcome_skilled {
    padding: 12px;
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 12px;
    border-radius: 50%;
    transition: var(--transitions);
}

.avatar_img {
    width: 80%;
    height: 50%;
}

.welcome_skilled:hover .avatar {
    background-color: var(--h-background-orange-color);
}

@media screen and (max-width: 850px) {
    .welcome {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {


    .welcome {
        padding-top: 2.1rem;
        height: auto;
    }

    .welcome_paragraph {
        margin: 1rem 0;
    }

    .wrapper_skilled {
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .welcome_skilled {
        padding: 12px;
        width: 300px;
        height: 220px;

    }

    .avatar {
        margin: 0;
    }

    .welcome_skilled:last-child {
        margin-bottom: 2rem;
    }
}